<html>
    <body>
        <form method="post" action="/resultado">
            Digite a massa dada e a molar para a achar o número de mols:
            <br>
            <input name="n1" type="text" placeholder="Massa dada">
            <input name="n2" type="text" placeholder="Massa Molar">
            <input type="submit" id="res" name="res" value="calcular">
        </form> 
          <%=resp%>
    </body>
</html>