<!DOCTYPE html>
 <head>
  <meta charset="UTF-8">
  <title>Cesinha</title>
 </head>
 <style>

 </style>
 <body>

  <form id="formul" action="/enderecoNome" method="post">
  <input type="text" name="nome">
  <input type="submit" value="Enviar">
  </form>
 </body>
</html>
